################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Application.Solution/.vs/Application.Solution/FileContentIndex/c060758d-801a-44e6-bad9-61c7cb735d00.vsidx
/Application.Solution/.vs/Application.Solution/FileContentIndex/4b886b68-74e7-4d08-996f-1a7da3b154e1.vsidx
/Application.Solution/.vs/Application.Solution/FileContentIndex/a6754b50-2390-44f7-ae8d-9bfacaa23a02.vsidx
/Application.Solution/.vs/Application.Solution/FileContentIndex/e635ecce-a795-4a49-b589-053881fb6c90.vsidx
/.gitignore
